 <header>
      <div class="search-container">
          <h1>Trouvez votre futur job parmi 3501 postes ouverts</h1>
          <div class="search-bar">
              <input type="text" placeholder="Mots-clés" class="search-input">
              <select class="search-select">
                  <option>Région(s)</option>
              </select>
              <select class="search-select">
                  <option>Métier</option>
              </select>
              <button class="search-button">
                  <img src="search-icon.png" alt="Search">
              </button>
          </div>
      </div>



        <nav>
            <ul>
                <li><a href="#">ACCUEIL</a></li>
                <li><a href="#">EMPLOI</a></li>
                <li><a href="#">ALWADIFA</a></li>
                <li><a href="#">IMMIGRATION</a></li>
                <li><a href="#">SCHOLARSHIPS</a></li>
                <li><a href="#">ORIENTATION</a></li>
                <li><a href="#">STAGE</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <div class="job-listings">
            <div class="job">
                <img src="assets/OFFRE-EMPLOI.webp" alt="Elbilia Skolar">
                <div class="job-info">
                    <span class="category">EMPLOI</span>
                    <h3>Recrutement d’enseignants et professeurs chez Elbilia Skolar</h3>
                    <span class="date">juillet 6, 2024</span>
                </div>
            </div>

            <div class="job">
                <img src="assets/OFFRE-EMPLOI.webp" alt="Air Arabia">
                <div class="job-info">
                    <span class="category">EMPLOI</span>
                    <h3>(33) Postes Vacants chez Air Arabia: Saisissez Votre Chance</h3>
                    <span class="date">juillet 1, 2024</span>
                </div>
            </div>

            <div class="job">
                <img src="assets/OFFRE-EMPLOI.webp" alt="Techniciens">
                <div class="job-info">
                    <span class="category">EMPLOI</span>
                    <h3>Recrutement de 130 Techniciens : Salaires Jusqu’à 6 000 Dirhams par Mois</h3>
                    <span class="date">juin 30, 2024</span>
                </div>
            </div>

            <div class="job">
                <img src="assets/OFFRE-EMPLOI.webp" alt="Anapec">
                <div class="job-info">
                    <span class="category">EMPLOI</span>
                    <h3>Recrutement de 60 Agents d’Encadrement sur Casablanca</h3>
                    <span class="date">mai 29, 2024</span>
                </div>
            </div>
        </div>
    </main>

