<div class="bg-gray-100 p-8 list">
  <div class=" block max-w-6xl mx-auto rounded-lg overflow-hidden p-6">
    <div class="p-4 flex justify-between items-center">
      <h2 class=" text-2xl font-semibold text-gray-800 " style=" color: #c29e0c;">
        <i class="fas fa-briefcase mr-2"></i> Job Offers
      </h2>
      <button class="btnadd text-white px-4 py-2 rounded " [routerLink]="'/job-offers/form'">
        <i class=" btnadd fas fa-plus"></i> Add Job Offer
      </button>
    </div>
    <div class="overflow-x-auto">
      <table class="min-w-full">
        <thead>
          <tr>
            <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
              <div class="flex items-center space-x-2">
                <i class="fas fa-tag icon-color"></i>
                <span class="icon-color">Title</span>
              </div>
            </th>
            <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
              <div class="flex items-center space-x-2">
                <i class="fas fa-calendar-day icon-color"></i>
                <span class="icon-color">Date Posted</span>
              </div>
            </th>
            <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
              <div class="flex items-center space-x-2">
                <i class="fas fa-building icon-color"></i>
                <span class="icon-color">Company</span>
              </div>
            </th>
            <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
              <div class="flex items-center space-x-2">
                <i class="fa-solid fa-hand-holding-dollar" style="color: #053372;"></i>
                  <span class="icon-color">Salary</span>
              </div>
            </th>
            <th class="px-6 py-3 text-right text-xs font-medium text-gray-500 uppercase tracking-wider">
              <div class="flex items-center space-x-2 justify-end pr-6">
                <i class="fas fa-cogs icon-color"></i>
                <span class="icon-color">Actions</span>
              </div>
            </th>
          </tr>
        </thead>
        <tbody class="bg-white divide-y divide-gray-200">
          <tr *ngFor="let offer of formData" class="hover-row">
            <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">{{offer.title}}</td>
            <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">{{offer.createdAt | date}}</td>
            <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">{{offer.companyName}}</td>
            <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">{{offer.salary}}MAD</td>
            <td class="px-6 py-4 whitespace-nowrap text-right text-sm font-medium">
              <button class="text-blue-500 hover:text-blue-700 focus:outline-none px-2" [routerLink]="['/job-offers/form', offer.id]">
                <i class="fas fa-edit"></i>
              </button>
              <button class="text-red-500 hover:text-red-700 focus:outline-none px-2" (click)="deleteJobOffer(offer.id)">
                <i class="fas fa-trash"></i>
              </button>
              <button class="text-green-500 hover:text-green-700 focus:outline-none px-2" [routerLink]="['/job-offers/details', offer.id]">
                <i class="fas fa-eye -coloiconr"></i>
              </button>
              <button class="text-black-500 hover:text-black-700 focus:outline-none px-2" [routerLink]="['/job-offers/applications', offer.id]">
                <i class="fas fa-users"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
