<div class="main-section">
  <h1><i class="fas fa-rocket"></i>  Registration</h1>
  <div class="options">
      <!-- Candidate -->
      <div class="option-card">
          <img class="img_c_r" src="assets/cand.svg" alt="Candidate Image">
          <h2><i class="fas fa-user"></i> You are a candidate</h2>
          <button (click)="onCandidateClick()">
              <i class="fas fa-arrow-right"></i> Click here
          </button>
      </div>
      <!-- Recruiter -->
      <div class="option-card">
          <img class="img_c_r" src="assets/rec2.svg" alt="Recruiter Image">
          <h2><i class="fas fa-briefcase"></i> You are a recruiter</h2>
          <button (click)="onRecruiterClick()">
              <i class="fas fa-arrow-right"></i> Click here
          </button>
      </div>
  </div>
</div>
