
        .main-section {
            padding: 50px 20px;
            background-color: #e8f3fb;
            height: 94vh;
            text-align: center;
        }

        .main-section h1 {
            color: #053372;
            font-size: 36px;
            margin-bottom: 50px;
            font-weight: bold;
            text-align: center;

        }

        .options {
            display: flex;
            justify-content: center;
            gap: 50px;
        }

        .option-card {
            background-color: #c5d3ded4;
            border-radius: 8px;
            box-shadow: 0px 0px 24px #8395b0;
            padding: 20px;
            width: 400px;
            transition: 0.4s;
        }

        .option-card:hover{
          transform: scale(1.03);
        }

        .option-card h2 {
            color: #053372;
            font-size: 1.5em;
            margin-bottom: 15px;
            font-weight: bold;
            margin-top: 15px;
        }

        .option-card button {
            background-color: #053372;
            color: #fbc11a;
            padding: 10px 20px;
            font-size: 16px;
            border-radius: 15px;
        }

        .option-card button:hover {
          font-weight: bold;
          
      }


        .img_c_r {
        height: 250px;
        width: 500px;
        }

