.option-card{
width: 100%;
height: 100vh;
background-image: url("../../../../assets/hhome.png");
background-position: center;
background-size: cover;
background-repeat: no-repeat;
}

.back{
  background-color: #c5d3ded4;

}

