<nav class="navbar">
<!--  <div class="navbar-left">
    <a href="#" [routerLink]="['/job-offers/offers']">Accueil Candidat</a>
    <a href="#" [routerLink]="['/layout']">Accueil recruteur</a>
  </div> -->

  <!-- Display content based on user role -->
  <ng-container [ngSwitch]="role">
    <ng-container *ngSwitchCase="1">
      Content for recruiter
    </ng-container>
    <ng-container *ngSwitchCase="2">
      Content for Candidat
    </ng-container>
    <!-- <ng-container *ngSwitchCase="3">
      Content for admin
    </ng-container> -->
  </ng-container>

  <!-- Navbar right section -->
  <div class="navbar-right">
    <ng-container *ngIf="!isLoggedIn; else loggedIn">
      <a href="#" routerLink="/auth/login">Se connecter</a>
      <a href="#" style="color: #f1c40f;" routerLink="/auth/choose">S'inscrire</a>
    </ng-container>
    <ng-template #loggedIn>
      <div class="navbar-profile" (click)="toggleDropdown()">
        <img src="job-logo.jpg" alt="Profile"/>
        <div *ngIf="DropdownOpen">
          <ul class="nav-profile-dropdown">
            <hr/>
            <li (click)="handleLogout()">
              <p>Logout</p>
            </li>
          </ul>
        </div>
      </div>
    </ng-template>
  </div>
</nav>
