

<div class="details">
    <div class="container">
        <!-- Header Section -->
        <div class="relative">
            <img src="https://images.unsplash.com/photo-1593642634443-44adaa06623a" alt="Office image" class="header-img">
            <div class="badge">{{ formData.contractType }}</div>
        </div>



        <div class="content">
          <div class="info">
            <div class="company-info">
              <img src="assets/company.svg" alt="Company Logo" class="company-logo"/>
              <div>
                    <h2 class="job-title">{{ formData.title }}</h2>
                    <p class="job-title">{{ formData.companyName }}</p>

                </div>
            </div>
            <div class="Jobinformation">
              <div class="job-info">
                <h3>Job Information</h3>
                <ul>
                    <li><p class="location"><i class="fas fa-map-marker-alt mr-2"  style="color: #c29e0c;"></i>{{formData.location}}</p>
                    </li>
                    <li><p class="salary"><i class="fa-solid fa-hand-holding-dollar mr-2" style="color: #c29e0c;"></i> {{formData.salary}} MAD</p>
                    </li>
                    </ul>
                    </div>
            <div class="job-info">
              <h3>Job Information</h3>
              <ul>
                  <li> <i class="fa-regular fa-calendar-days mr-2" style="color: #c29e0c;"></i><strong>DATE POSTED:</strong>  {{formData.createdAt|date: 'dd-MM-yyyy'}}</li>
                  <li> <i class="fa-solid fa-bars-progress  mr-2" style="color: #c29e0c;"></i><strong>Company hierarchy Level:</strong>  {{ formData.hierarchyLevel }}</li>
                  <li class="flex"><h3 class="job-skills-title"> <i class="fa-solid fa-laptop-code mr-2" style="color: #c29e0c;"></i>Job Skills : </h3>
                  <div class="job-skills ml-2">
                      <span>{{ formData.skills }}</span>
                  </div>
                </li>
              </ul>

        </div>
          </div>

          </div>

            <div class="job-description">
                <h3> <i class="fa-solid fa-list-ul mr-2" style="color: #c29e0c;"></i>Job Description:</h3>
                <p>{{ formData.description }}</p>

            </div>
    </div>
    <div *ngIf="roleId==2" class="apply-button-container">
      <button  class="apply-button" [routerLink]="['/job-offers/apply', id]">Apply for job</button>
    </div>
  </div>

