.form-container {
    background-color: #f6eef7;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 400px;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
    color: #55325a;
}

.form-group {
    margin-bottom: 15px;
}

label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
    color: #55325a;
}

input[type="text"],
input[type="email"],
select,
textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #dddddd;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 14px;
    color: #541fb6;
}

textarea {
    resize: vertical;
}

.submit-button {
    width: 100%;
    padding: 10px;
    background-color: #5f1db0;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    text-align: center;
}

.submit-button:hover {
    background-color: #9a14ed;
}

.formGroup{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: hsl(0, 0%, 100%);
  }
