.form-container {
  box-shadow: 0px 0px 24px #8395b0;
  background-color: #c5d3ded4;
    padding: 20px;
    border-radius: 8px;
    width: 800px;
}
.form {
 display: flex;
 justify-content: center;
 align-items: center;
 background-color: #e8f3fb;
 padding: 10px 0;
}
.rows{
  display: flex;
  justify-content: space-around;
  align-items: center;

}

.rows > div{
  width: 100%;
  margin: 0 10px;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
    color: #000000;
}



label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
    color: #000000;
}

input[type="text"],
input[type="email"],
select,
textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    outline: #0e4ca2;
    border: 1px solid #dddddd;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 14px;
    color: #000000;
}

textarea {
    resize: vertical;
}

.submit-button {
    width: 100%;
    padding: 10px;
    background-color: #053372;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    text-align: center;
}

.submit-button:hover {
    background-color: #0e4ca2;
}

  .form-group {
    margin-bottom: 15px;
    position: relative;
  }
 