
.container {
	display: flex;
	align-items: center;
	justify-content: center;
  min-width: 100vw;
	min-height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #e8f3fb;
    position: relative;

}

.screen {
	position: relative;
	height: 600px;
	width: 360px;
	box-shadow: 0px 0px 24px #8395b0;
  background-color: #c5d3ded4;
}
.login {
	width: 100%;
	padding: 30px;
	padding-top: 156px;
}

.login__field {
	padding: 20px 0px;
	position: relative;
}
.login__input {
	border: none;
	border-bottom: 2px solid #053372;
	background: none;
	padding: 10px;
	padding-left: 24px;
	font-weight: 700;
	width: 100%;
	transition: .2s;
  margin-top: 15px;
  color: #000000;
}

.login__submit {
	background: #fbc11a;
	font-size: 14px;
	margin-top: 30px;
	padding: 16px 20px;
	border-radius: 26px;
	border: 1px solid #000000;
	text-transform: uppercase;
	font-weight: 700;
	display: flex;
	align-items: center;
	width: 100%;
	box-shadow: 0px 2px 2px #053372;
	cursor: pointer;
	transition: .2s;
  justify-content: center;
  position: relative;
}

.login__submit .button__text {
 color: #053372;
}
.password {
	color: #053372;
    position: absolute;
    height: 140px;
    display: flex;
    flex-direction: row;
    font-size: 15px;
}

.password i {
    margin-top: 2px;
}


input  {
	outline: none !important;
	z-index: 10 !important;
}

.signup-container a {
	color: #6ea8d4;
}
.signup-container  {
  margin-top: 20px;
}


.loginicon{
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
pointer-events: none;
left: -10px;
top: 0;
}




.spinner{
  background-image: url("../../../../../../assets/spinnergif.gif");
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  z-index: 3;
  width: 99%;
  height: 100%;
  opacity: 0.7;
  border-radius: 26px;
  background-position: center;
}









