 /* Ensuring the list is scrollable if it exceeds 10 items */
 .user-list {
    max-height: 400px;
    overflow-y: auto;
}

/* Optional: Custom scrollbar for better aesthetics */
.user-list::-webkit-scrollbar {
    width: 8px;
}

.user-list::-webkit-scrollbar-thumb {
    background-color: #cbd5e0;
    border-radius: 4px;
}

.form {
    display: grid;
    place-content: center;
  }

  #checkedMe {
      outline: none !important;
      cursor: pointer;
  }

  #checkedMe[type="checkbox"] {
    -webkit-appearance: none;
    appearance: none;
    margin: 0;
    font: inherit;
    color: currentColor;
    width: 1.15em;
    height: 1.15em;
    border: 0.15em solid currentColor;
    border-radius: 0.15em;
    transform: translateY(-0.075em);
    display: grid;
    place-content: center;
  }

  #checkedMe[type="checkbox"]::before {
    content: "";
    width: 0.65em;
    height: 0.65em;
    clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
    transform: scale(0);
    transform-origin: bottom left;
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em green; /* Set check color to green */
    background-color: transparent; /* Ensure background color is transparent */
  }

  #checkedMe[type="checkbox"]:checked::before {
    transform: scale(1);
    background-color: green; /* Set check mark color to green */
  }

  #checkedMe[type="checkbox"]:focus {
    outline: max(2px, 0.15em) solid currentColor;
    outline-offset: max(2px, 0.15em);
  }

  #checkedMe[type="checkbox"]:disabled {
    color: #959495;
    cursor: not-allowed;
  }

  .applications{
    background-color: #e8f3fb;
  }


button {
  padding: 12.5px 30px;
  border-radius: 50px;
  background-color: #053372;
  color: #F1C232;
  font-weight: Bold;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
}

button:hover {
  background-color: #1d4b8c;
  box-shadow: 0 0 20px #7796ac50;
  transform: scale(1.1);
}

.btn_contaire{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
}

img:hover {
  background-color: #b4c3ced4;
  transform: scale(1.1);
}

.block{
  box-shadow: 0px 0px 24px #8395b0;
  background-color: #c5d3ded4;
}

li:hover{
  background-color: #b4c3ced4;
}

li{
  padding: 0 20px;
}

.textColor{
  color: #053372;
}
