
    <div class="container">
      <div>
        <img src="assets/log.jpg" alt="Job Image" class="job-image">
      </div>
        <header class="header">

            <div class="header-content">
                <span class="job-type">Full Time</span>
                <h1>UX/UI Designer</h1>
                <p>2 years ago</p>
                <p>VQ4P+WH9, near Sanjeevni Hospital, Shanti Nagar, Sodala, Jaipur, Rajasthan 302018</p>
                <a href="https://www.ui3experts.com/" class="website">https://www.ui3experts.com/</a>
                <p class="salary">$20 / DAY</p>
                <button class="apply-btn">Apply for job</button>
            </div>
          </header>

        <section class="job-info">
            <div class="info-item">
                <h3>Views</h3>
                <p>2483 VIEWS</p>
            </div>
            <div class="info-item">
                <h3>Date Posted</h3>
                <p>November 13, 2022</p>
            </div>
            <div class="info-item">
                <h3>Gender</h3>
                <p>Male</p>
            </div>
            <div class="info-item">
                <h3>Offered Salary</h3>
                <p>$20 / DAY</p>
            </div>
            <div class="info-item">
                <h3>Job Skills</h3>
                <p>HTML, JAVA, PHP</p>
            </div>
        </section>

        <section class="job-description">
            <h2>Job Description:</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum ac ante id urna aliquam tempor. Morbi ut nisi sed sapien lacinia pulvinar at in erat...</p>
            <ul>
                <li>Establish and promote design guidelines, best practices and standards.</li>
                <li>Accurately estimate design tickets during planning sessions.</li>
                <li>Partner with product and engineering to translate business and user goals into elegant and practical designs.</li>
                <li>Create wireframes, storyboards, user flows, process flows, and site maps to communicate interaction and design.</li>
                <li>Present and defend designs and key deliverables to peers and executive-level stakeholders.</li>
            </ul>
        </section>

        <section class="share-profile">
            <h3>Share Profile</h3>
            <a href="#">Facebook</a>
            <a href="#">Twitter</a>
            <a href="#">LinkedIn</a>
        </section>

        <section class="location">
            <h3>Location</h3>
            <div class="map">
                <a href="https://www.google.com/maps/dir/?api=1">
                  <img src="assets/maps.png" alt="Exemple d'image">
              </a>
                            </div>
        </section>
    </div>

