<nav class="navbar">
  <div class="navbar-left">
      <div class="google-play-badge">
          <span>Disponible sur</span>
          <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/78/Google_Play_Store_badge_FR.svg/512px-Google_Play_Store_badge_FR.svg.png" alt="Google Play">
      </div>
      <a href="#">Offres IT Freelance</a>
      <a href="#">Accueil Candidat</a>
      <a href="#">Rechercher un emploi</a>
      <a href="#">Ils recrutent</a>
      <a href="#">Accueil recruteur</a>
  </div>
  <div class="navbar-right">
      <a href="#">Se connecter</a>
      <a href="#" style="color: #f1c40f;">S'inscrire</a>
  </div>
</nav>
