 <header>
  <div class="search-container">
    <h1>Trouvez votre futur job parmi 3501 postes ouverts</h1>
    <div class="search-bar">

        <!-- Select for Région(s) -->
        <select class="search-select" [(ngModel)]="selectedContractType">
            <option value="">Contract Type</option>
            <option [value]="data.value" *ngFor="let data of contrat">{{data.label}}</option>
        </select>

        <!-- Select for Métier -->
        <select class="search-select" [(ngModel)]="selectedSkill">
            <option value="">Skills</option>
            <option [value]="data" *ngFor="let data of Skills">{{data}}</option>
            <!-- Add more métiers as needed -->
        </select>

        <button class="search-button" (click)="searchJobs()">
            <img src="assets/search-icon.png" alt="Search">
        </button>
    </div>
</div>

    </header>

    <main>
        <div class="job-listings" >
            <div class="job" *ngFor="let offers of filteredJobOffers  ">
                <img src="assets/OFFRE-EMPLOI.webp" alt="Elbilia Skolar" [routerLink]="['/job-offers/details', offers.id]">
                <div class="job-info">
                    <span class="category ">{{offers.title}} </span>
                    <h3>{{offers.location}}</h3>
                    <span class="date">{{offers.createdAt}}</span>
                </div>
            </div>
        </div>
    </main>

