
header {
  background-color: #decce6;
  padding: 10px 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
}
nav ul li a {
  text-decoration: none;
  color: #5705a8;
  font-weight: bold;
}

.job-listings {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.job {
  background-color: #d2b6e0;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(168, 36, 36, 0.1);
}

.job img {
  width: 100%;
  height: auto;
}

.job-info {
  padding: 15px;
}

.category {
  display: inline-block;
  background-color: #8137c1;
  color: #fff;
  padding: 2px 8px;
  border-radius: 4px;
  font-size: 12px;
  font-weight: bold;
}

h3 {
  margin: 10px 0;
  font-size: 18px;
}

.date {
  color: #777;
  font-size: 14px;
}




.search-container {
  background-color: #8137c1;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  width: 96%;
  margin-left: 2px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search-container h1 {
  color: #fff;
  font-size: 24px;
  margin-bottom: 20px;
}

.search-bar {
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-input, .search-select, .search-button {
  border: none;
  border-radius: 25px;
  height: 50px;
  margin: 0 10px;
  font-size: 16px;
  padding: 0 20px;
}

.search-input {
  flex: 1;
}

.search-select {
  width: 200px;
  background-color: #fff;
  cursor: pointer;
}

.search-button {
  background-color: #fff;
  width: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.search-button img {
  width: 24px;
  height: 24px;
}




