header {
  background-color: #ffffff;
  padding: 10px 75px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
}

nav ul li a {
  text-decoration: none;
  color: #1565c0;
  font-weight: bold;
}

.job-listings {
  grid-template-columns: repeat(2, 1fr);
  padding: 20px 150px;
  margin: 0 auto;
}

.job {
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0px 0px 6px #8395b0;
  padding: 20px;
  border-bottom: 1px solid #ffffff;
  margin-bottom: 20px;
}

.job-info {
  padding: 15px;
}

.category {
  display: inline-block;
  color: #fff;
  padding: 2px 8px;
  border-radius: 4px;
  font-size: 12px;
  font-weight: bold;
}

h3 {
  margin: 10px 0;
  font-size: 18px;
}

.search-container {
  background-color: #053372;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  margin-left: 2px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search-container h1 {
  color: #fff;
  font-size: 24px;
  margin-bottom: 20px;
}

.search-bar {
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-input, .search-select, .search-button {
  border: none;
  border-radius: 25px;
  height: 50px;
  margin: 0 10px;
  font-size: 16px;
  padding: 0 20px;
}

.search-input {
  flex: 1;
}

.search-select {
  width: 200px;
  background-color: #ffffff;
  cursor: pointer;
}

.job-listings ul {
  list-style-type: none;
  padding: 0;
}

.job-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.job-info {
  flex: 1;
}

.job-title {
  color: #053372;
  font-size: 1.2rem;
  font-weight: bold;
  text-decoration: none;
  margin-bottom: 20px;
  display: block;
}

.job-details {
  font-size: 0.9rem;
  color: #053372;
}

.job-apply {
  flex-shrink: 0;
}

.apply-button {
  background-color: #fbc11a;
  color: #053372;
  border: none;
  padding: 10px 20px;
  font-size: 1.1rem;
  border-radius: 5px;
  cursor: pointer;

}



.company-logo {
  width: 50px;
  height: auto;
  margin-right: 15px; 
}

